<section class="section_menu" >
	<nav class="menu_nav">
		<ul class="nav_list">
			<li class="nav_list_item" routerLinkActive="nav_list_item-selected">
				<a class="nav_list_link" routerLink="/dashboard">Inicio</a>
			</li>
			<li class="nav_list_item" routerLinkActive="nav_list_item-selected">
				<a class="nav_list_link" routerLink="/feature" >Características</a>
			</li>
			<li class="nav_list_item" routerLinkActive="nav_list_item-selected">
				<a class="nav_list_link" routerLink="/documentation">Documentación</a>
			</li>
			<li class="nav_list_item" routerLinkActive="nav_list_item-selected">
				<a class="nav_list_link" routerLink="/contact">Contacto</a>
			</li>
		</ul>
	</nav>
</section>