<div class="privacy-section">
    <h2>Política de Privacidad</h2>
    <p>{{ privacyData.info }}</p>
    <p>{{ privacyData.info1 }}</p>
    <p>{{ privacyData.info2 }}</p>
    <p>{{ privacyData.info3 }}</p>
  
    <h3>{{ privacyData.purpose }}</h3>
    <p>{{ privacyData.sPurpose }}</p>
    <p>{{ privacyData.sPurpose1 }}</p>
  
    <h3>{{ privacyData.control }}</h3>
    <p>{{ privacyData.sControl }}</p>
    <p>{{ privacyData.sControl1 }}</p>
    <p>{{ privacyData.sControl2 }}</p>
  
    <h3>{{ privacyData.rights }}</h3>
    <p>{{ privacyData.sRights }}</p>
    <p>{{ privacyData.sRights1 }}</p>
  
    <h3>{{ privacyData.modification }}</h3>
    <p>{{ privacyData.sModification }}</p>
</div>