<div class="termsConditions-section">
    <h2>{{ termsConditionsData.object }}</h2>
    <p>{{ termsConditionsData.sObject }}</p>
  
    <h3>{{ termsConditionsData.condition }}</h3>
    <p>{{ termsConditionsData.sCondition }}</p>
  
    <h3>{{ termsConditionsData.obligation }}</h3>
    <p>{{ termsConditionsData.sObligation }}</p>
    <p>{{ termsConditionsData.sObligation1 }}</p>
    <p>{{ termsConditionsData.sObligation2 }}</p>
  
    <h3>{{ termsConditionsData.responsability }}</h3>
    <p>{{ termsConditionsData.sResponsability }}</p>
    <p>{{ termsConditionsData.sResponsability1 }}</p>
    <p>{{ termsConditionsData.sResponsability2 }}</p>
  
    <h3>{{ termsConditionsData.intellectual }}</h3>
    <p>{{ termsConditionsData.sIntellectual }}</p>
    <p>{{ termsConditionsData.sIntellectual1 }}</p>
  
    <h3>{{ termsConditionsData.law }}</h3>
    <p>{{ termsConditionsData.sLaw }}</p>
  
    <h3>{{ termsConditionsData.modifications }}</h3>
    <p>{{ termsConditionsData.sModifications }}</p>
  
    <h3>{{ termsConditionsData.contact }}</h3>
    <p>{{ termsConditionsData.sContact }}</p>
</div>